<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS.ActiveMQ.NetCore" version="1.7.3" targetFramework="net472" />
  <package id="Apache.NMS.NetCore" version="1.7.3" targetFramework="net472" />
  <package id="Ionic.Zlib.Core" version="1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net472" />
</packages>